/* Top Navbar Styling */
.top-nav {
    height: 5rem; /* Adjust height as needed */
    display: flex;
    align-items: center; /* Vertically center content */
    padding: 0.5rem 1rem; /* Optional vertical padding */
}

/* Bottom Navbar Link Font Size */
.navbar-nav{
    font-size: 1.2rem; /* Increase font size */
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.navbar-brand {
    font-size: 1.2rem; /* Increase font size */
    margin-left: 3.5rem;
    font-weight: bold;
}

/* Logo Styling */
.logo {
    display: flex;
    align-items: center; /* Align image and text vertically */
    height: 100%; /* Ensure logo takes full height of navbar */
}

.logo-img {
    width: auto; /* Maintain aspect ratio */
    max-width: 150px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between the image and text */
    object-fit: contain; /* Ensure the image fits well without being stretched */
    max-height: 100%; /* Make sure the image fits within the navbar's height */
}

.logo-text {
    font-size: 1.3rem; /* Adjust the size of the text */
    font-weight: bold; /* Optional: make the text bold */
    line-height: 1.2; /* Adjust line height to give some space between lines */
    text-align: center; /* Center-align the text */
}

/* Slider */
.container{
    background-color: #E0E0E0;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    margin: 0;
}

h2.text-center.font-weight-bold {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-weight: 500;
}

.product-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}
.product {
    flex: 0 0 16.66%;
    padding: 15px;
    text-align: center;
}
.product img {
    max-width: 110%;
    height: auto;
    border-radius: 10px;
}

/*Footer*/
footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    z-index: 1;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #0084ff;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 1rem;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
